html, body{
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

main{
    width: 100%;
    height:max-content;
    background-image: url("https://ep01.epimg.net/verne/imagenes/2020/03/02/articulo/1583169237_876817_1583173125_noticia_normal.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
#kanban{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.column{
    width: 18%;
    height: auto;
    margin: 1%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.59);
    float: left;
}
.card{
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3%;
    background-color: rgb(255, 255, 255);
   
}

.button{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    text-align:center;
    color: aliceblue; 
    margin-left: 85%;
}
h1{
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(43, 111, 236, 0.54);
    color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    
}
h2{
    margin-left: 3%;
}
h3, p{
    margin:5%;
}
